.effects {
  border: 2px solid transparent;
}

@media (min-width: 768px) {
  .effects {
    transition: opacity 0.3s ease-in-out;

    &:hover {
      opacity: 0.5;
    }

    &:active {
      opacity: 0.3;
    }

    &:focus-visible {
      border-color: $color-black;
    }
  }
}
